html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, hr {
    margin: 0;
    padding: 0;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

fieldset, img, hr {
    border: none;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: #1d2120;
    overflow: hidden;
    cursor: url('./srcs/cursor4.png'), default;
}

a {
    cursor: url('./srcs/cursor4.png'), default;
}

#aura {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(84, 84, 194);
    opacity: 1;
    /* z-index: 0; */
    display: none;
}

#aura2 {
    position: absolute;
    height: 60px;
    width: 60px;
    /* background-color: green; */
    display: none;
    z-index: 99;
    transform: translate(0px, -50px);
    border-bottom: 5px solid blue;
    border-left: 5px solid rgb(48, 48, 145);
    border-radius: 50%;
    animation: rotateA 1s ease-out infinite;
}

@keyframes rotateA {
    from {
        transform: translate(0px, -50px) rotate(0deg)
    }
    to {
        transform: translate(0px, -50px) rotate(360deg)
    }
}

/* #aura2:after{
    position: absolute;
    content: 'clickme';
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    animation: blinkAuraText 1s ease-in-out infinite;
} */

@keyframes blinkAuraText {
    from {
        transform: scale(0.8);
        text-shadow: 0px 0px 0px transparent
    }
    to {
        transform: scale(1.2);
        text-shadow: 2px 2px 2px purple
    }
}

#loading {
    display: block;
}

.l1 {
    margin-left: 44%;
    float: left;
    margin-top: 7.5%;
    font-size: 2.5em;
    animation: colors 5s linear infinite;
    animation-delay: 2.5s;
}

.l1>p {
    float: left;
    margin-left: 5px;
}

.l1>p:nth-child(2) {
    opacity: 0;
    animation: first 3s linear;
    animation-iteration-count: infinite;
}

.l1>p:nth-child(3) {
    opacity: 0;
    animation-delay: 0.75s;
    animation: first 3s linear;
    animation-iteration-count: infinite;
}

.l1>p:nth-child(4) {
    opacity: 0;
    animation-delay: 1.5s;
    animation: first 3s linear;
    animation-iteration-count: infinite;
}

@keyframes first {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loaded {
    display: none;
}

svg {
    /* position: absolute; */
    height: 90%;
    /* width: 40%; */
}

p {
    color: white;
}

#topMenu {
    float: left;
    width: 100%;
    height: 5%;
    /* z-index: 999; */
    /* background-color: blue; */
}

#language {
    float: right;
    width: 50%;
    font-family: 'Lobster', cursive;
    font-size: 1.25em;
    line-height: 100%;
    vertical-align: middle;
    letter-spacing: 2px;
}

#ro {
    float: right;
    width: 120px;
    /* color: #c43235; */
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

#en {
    float: right;
    width: 120px;
    /* color: #c43235; */
    color: white;
}

#en:after, #ro:after {
    content: "";
    position: absolute;
    background-color: rgb(179, 131, 131);
}

#en:after {
    width: 90px;
    height: 1px;
    top: 23px;
    right: 230px;
    opacity: 0;
    transition: opacity 1s linear;
}

#ro:after {
    width: 120px;
    height: 1px;
    top: 23px;
    right: 40px;
    opacity: 0;
    transition: opacity 1s linear;
}

#en:hover, #ro:hover {
    transition: 1s linear;
    filter: blur(0.5px);
    filter: drop-shadow(1px 1px 2px rgb(187, 30, 30));
}

#en:hover:after, #ro:hover:after {
    opacity: 1;
    filter: blur(0.5px);
    filter: drop-shadow(1px 1px 2px rgb(187, 30, 30));
}

#homeButton {
    float: left;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 1.25em;
    letter-spacing: 2px;
    width: 80px;
    padding: 5px;
    margin-left: 8%;
    letter-spacing: 2px;
    line-height: 100%;
    vertical-align: middle;
    opacity: 0.9;
    display: none;
}

#content {
    float: left;
    height: 55vh;
    width: 90vw;
    color: white;
    text-align: center;
}

#mouse {
    position: absolute;
    bottom: 40%;
    height: 50px;
    width: 30px;
    border-radius: 25px;
    border: 3px solid white;
    margin-left: calc(100vw/2.26);
    box-sizing: border-box;
    padding: 11px;
    opacity: 0;
}

.mouseScroller {
    width: 3px;
    height: 10px;
    background-color: white;
    animation-name: scrolley;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

#fullPage {
    position: absolute;
    bottom: 40%;
    width: 70px;
    height: auto;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 60%;
    box-sizing: border-box;
    padding: 2px;
    font-size: 0.8em;
    transition: 2s linear;
    /* opacity: 0.9; */
}

#fullPage>p {
    margin: 0;
    padding: 3px;
    float: right;
    margin-right: 3px;
}

#fullPage>img {
    float: left;
    margin-left: 3px;
    padding: 3px
}

@keyframes scrolley {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(8px);
    }
}

.desc>span {
    opacity: 0;
}

#projectsPage, #contactPage, #educationPage, #aboutPage {
    position: absolute;
    height: 50%;
    width: 90%;
    background-color: transparent;
    transform: translate(0, -110%);
    opacity: 0;
    color: white;
    text-align: center;
    padding: 0 100px 0 100px;
    font-size: 2em;
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 100px;
    /* z-index: 55; */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: bottom;
}

#homePage {
    position: absolute;
    height: 50%;
    width: 90%;
    background-color: transparent;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 0 100px 0 100px;
    font-size: 2em;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 100px;
    /* z-index: 55; */
    opacity: 0;
    transform: translate(0, 0);
    height: 55%;
}

#exPg {
    position: absolute;
    height: 50%;
    width: 90%;
    opacity: 1s;
    background-color: transparent;
    opacity: 1;
    color: white;
    text-align: center;
    padding: 0 100px 0 100px;
    font-size: 2em;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 100px;
    /* z-index: 55; */
    height: 55%;
    text-align: center;
    display: none;
}

#exTop, #exBottom {
    /* padding-top: 10%; */
    width: 100%;
    float: left;
}

/* PAGINA FULL VIEW */

#fullView {
    float: left;
    width: 90%;
    height: 95%;
    background: white;
    opacity: 0;
    /* z-index: -5; */
    word-break: break-all;
    /* display: none; */
    background-color: #1d2120;
    /* z-index: -2; */
}

#full1, #full2, #full3, #full4 {
    position: absolute;
    bottom: -100%;
    height: 95%;
    width: 90%;
    display: none;
    color: #e6e9f0;
    box-sizing: border-box;
    padding: 5%;
    background: radial-gradient(farthest-side at 0% 100%, #141616, #1d2120);
    /* z-index: 0; */
}

#full1 {
    bottom: 0;
    /* background-color: #3674CE; */
}

#full1img1 {
    float: left;
    position: relative;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/cv1.png');
    background-size: 100% 100%;
}

#full1img2 {
    float: left;
    margin-left: -10%;
    margin-top: 15%;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/cv2.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full1img3 {
    float: right;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/cv3.png');
    background-size: 100% 100%;
    margin-left: 20px;
    margin-top: 15px;
    clear: both;
}

#textFull1 {
    margin: 15px;
    /* float: right; */
    word-break: break-all;
}

#full2img1 {
    position: relative;
    float: left;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/pens1.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full2img2 {
    float: left;
    position: relative;
    margin-left: -10%;
    margin-top: 15%;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/pens2.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full2img3 {
    float: left;
    margin-left: -40%;
    margin-top: 40%;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/pens3.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full3img1 {
    float: left;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/welcome1.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full3img2 {
    float: right;
    margin-top: 45%;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/welcome2.png');
    background-size: 100% 100%;
    margin-right: 25px;
    margin-bottom: 15px;
}

#full4video {
    height: 65%;
    float: left;
}

#full4img1 {
    float: right;
    position: relative;
    height: 40%;
    width: 30%;
    background: url('./srcs/projects/chat1.png');
    background-size: 100% 100%;
}

#full4img2 {
    float: right;
    position: relative;
    height: 40%;
    width: 30%;
    margin-right: -25%;
    margin-top: 15%;
    background: url('./srcs/projects/chat2.png');
    background-size: 100% 100%;
}

#full4img3 {
    float: right;
    height: 40%;
    width: 30%;
    margin-right: -35%;
    margin-top: 40%;
    background: url('./srcs/projects/chat3.png');
    background-size: 100% 100%;
}

#full1ed1, #full1ed2, #full1ed3, #full1ed4 {
    border: 1px solid white;
    height: 30%;
    width: 40%;
    background-color: pink;
}

#full1ed2, #full1ed4 {
    float: right;
    margin-top: 10%;
}

#full1ed1, #full1ed3 {
    float: left;
    margin-top: 2.5%;
}

#full1ed4, #full1ed3 {
    margin-top: 7.5%;
}

#ed1text1, #ed1text2, #ed1text3, #ed1text4 {
    color: black;
    height: 100%;
}

.arrowRight {
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid red;
    position: relative;
    left: 100%;
    top: calc(50% - 30px);
}

.arrowLeft {
    height: 0px;
    width: 0px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    position: relative;
    top: calc(50% - 30px);
    right: 30px;
}

#full2ed1 {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    border-image: linear-gradient(to left, green, purple) 50% 50%;
}

#full2ed2 {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    border-bottom: 3px dashed white;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-color: green;
    box-shadow: 0px 3px 6px rgb(9, 148, 32);
}

#topWrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 5%;
}

#botWrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 95%;
    border-top: 1px purple dashed;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    box-shadow: 0px -3px 6px purple;
}

#ed2line1, #ed2line2, #ed2line3, #ed2line4, #ed2line5 {
    position: absolute;
    /* height: 80%; */
    width: 10px;
    background-color: purple;
    bottom: 20px;
    left: 17.5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 0px 4px rgb(151, 5, 151);
}

#ed2line2 {
    /* height: 60%; */
    left: 30%
}

#ed2line3 {
    /* height: 50%; */
    left: 45%
}

#ed2line4 {
    /* height: 70%; */
    left: 60%
}

#ed2line5 {
    /* height: 90%; */
    left: 75%
}

.ed2text1 {
    color: white;
    transform: rotate(-90deg) translate(-35%, -85px);
    width: 150px;
    font-size: 1.25em;
}

#ed2bline1, #ed2bline2, #ed2bline3, #ed2bline4, #ed2bline5, #ed2bline6, #ed2bline7, #ed2bline8 {
    position: relative;
    float: left;
    /* height: 80%; */
    width: 10px;
    background-color: rgb(9, 148, 32);
    margin-left: 10%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(180deg);
    box-shadow: 2px 0px 4px rgb(15, 165, 40);
}

.ed2text2 {
    color: white;
    transform: rotate(-90deg) translate(-35%, -85px);
    width: 150px;
    font-size: 1.25em;
}

/* #full2 {
    background-color: pink;
}

#full3 {
    background-color: purple;
}

#full4 {
    background-color: red;
} */

#arrowDown {
    transform: scale(0.6);
    animation: glow 2s linear infinite;
}

@keyframes glow {
    0% {
        transform: scale(0.6)
    }
    50% {
        transform: scale(0.8)
    }
    100% {
        transform: scale(0.6)
    }
}

#container {
    position: relative;
    left: 40%;
    top: 30%;
    height: 250px;
    width: 250px;
    /* border-radius: 50%; */
    /* background-color: red; */
}

#containerContact {
    position: relative;
    /* left: 35%;
    top: 35%; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
}

#bC {
    position: absolute;
    height: 90%;
    width: 90%;
    left: 4%;
    top: 4%;
    border-radius: 50%;
    border-bottom: 3px solid blue;
}

#lC {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    border-left: 3px solid red;
}

#rC {
    position: absolute;
    height: 70%;
    width: 70%;
    left: 15%;
    top: 15%;
    border-radius: 50%;
    border-right: 3px solid green;
}

#tC {
    position: absolute;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
    border-radius: 50%;
    border-top: 3px solid purple;
}

#textLogo {
    position: absolute;
    left: 33%;
    top: 45%;
    font-size: 2em;
    /* z-index: 0; */
}

#fbButton {
    position: absolute;
    left: 27.5%;
    top: -50%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: white;
    /* z-index: 0; */
    /* opacity: 0.9; */
    transition: 0.3s ease-in-out;
}

#fbButton:hover {
    box-shadow: 2px 2px 6px white;
    transform: translate(-2px, 1px);
}

#ghButton:hover {
    box-shadow: 2px 2px 6px white;
    transform: translate(-2px, 1px);
}

#liButton:hover {
    box-shadow: 2px 2px 6px white;
    transform: translate(-2px, 1px);
}

#cvButton:hover {
    box-shadow: 2px 2px 6px white;
    transform: translate(-2px, 1px);
}

#ghButton {
    position: absolute;
    left: 110%;
    top: 7.5%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: white;
    /* z-index: 0; */
    transition: 0.3s ease-in-out;
}

#liButton {
    position: absolute;
    left: 27.5%;
    top: 80%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: white;
    /* z-index: 0; */
    transition: 0.3s ease-in-out;
}

#cvButton {
    position: absolute;
    left: -50%;
    top: 7.5%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: white;
    /* z-index: 0; */
    transition: 0.3s ease-in-out;
}

.fab {
    position: absolute;
    color: black;
    top: 42.5%;
    left: 42.5%;
    transform: scale(4)
}

#tabelC {
    position: absolute;
    /* border: 2px solid white; */
    width: 70%;
    left: 15%;
    height: 40%;
    top: 15%;
    box-shadow: -2px -2px 7px #e9ece5;
    color: #3b3a36;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
}

/* #tabelC:nth-child(n):nth-child(n){
    height: 130px;
} */

#full2 > h2 {
    font-size: 1.7em;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

table > tr:nth-child(odd){
    background-color: #c0dfd9;
}

table > tr:nth-child(even){
    background-color: #e9ece5;
}

#full2 > form{
    position: absolute;
    bottom: 7.5%;
    height: 20%;
    width: 50%;
    left: 25%;
    /* background-color: red; */
}

form > input {
    float: left;
    clear: left;
    padding: 5px;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 3px 3px 6px gray;
}

form > textarea {
    border-radius: 5px;
    margin-top: 5%;
    box-shadow: 3px 3px 6px gray;
    margin-left: 5%;
}

#submitButton{
    width: 30%;
    margin-left: 35%;
}

/* #col42 {
    padding: 10px;
    border: 1px solid yellow;
    height: 130px;
} */

#startButton {
    border: 1px solid white;
    max-width: 30%;
    margin-left: 35%;
    border-radius: 15px;
    transition: 1s linear;
    /* z-index: 999; */
}

#startButton:hover>#arrowRight {
    transform: translate(12px, 0);
    /* color: black; */
}

#startText1, #startText2 {
    width: 25%;
}

#startText1 {
    font-family: 'Lobster', cursive;
    font-size: 0.7em;
}

#startText2 {
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
    padding-right: 0px;
}

#arrowRight {
    margin-top: 10px;
    transition: 1s linear;
}

::-webkit-scrollbar {
    display: none;
}

#left, #right {
    height: 100vh;
    width: 5vw;
}

#left {
    float: left;
}

#right {
    float: right;
}

#map {
    position: relative;
    height: 60%;
    width: 80%;
    display: none;
}

#map1, #map2, #map3, #map4 {
    margin-top: calc(100vh / 8 - 10px);
    margin-left: calc(100% / 2 - 11px);
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    transition: 2s linear;
}

#map1:after, #map2:after, #map3:after {
    margin-top: 20px;
    right: calc(100% / 2);
    position: absolute;
    content: '';
    height: calc(100vh / 8 - 10px);
    width: 2px;
    background-color: white;
}

#mapS1, #mapS2 {
    margin-top: calc(100vh / 4 - 10px);
    margin-left: calc(100% / 2 - 11px);
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    transition: 2s linear;
}

#mapS1:after {
    margin-top: 20px;
    right: calc(100% / 2);
    position: absolute;
    content: '';
    height: calc(100vh / 4 - 10px);
    width: 2px;
    background-color: white;
}

#logo {
    margin-top: 25px;
    margin-left: 5;
    font-family: 'Pacifico', cursive;
    color: white;
    letter-spacing: 5px;
    clear: both;
}

#logo1 {
    transform: scale(0.83);
}

#happy, #sad {
    transition: 1s linear;
}

#letter1, #letter2, #letter3 {
    width: 33%;
    float: left;
    animation: jump 2.5s linear infinite;
}

#letter1 {
    animation-delay: 0s;
}

#letter2 {
    animation-delay: 1s;
}

#letter3 {
    animation-delay: 2s;
}

#line {
    position: absolute;
    clear: both;
    bottom: 15;
    width: 0.15%;
    height: 25%;
    margin-left: 5%;
    background-color: white;
    /* z-index: 9999; */
}

#line::before {
    position: absolute;
    content: '';
    height: 50%;
    width: 100%;
    background-color: purple;
    animation: moveAround 3.5s ease-in-out infinite;
    transform: scale(0);
}

@keyframes moveAround {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
        transform: translate(0, 0);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        transform: translate(0, 100%);
        opacity: 0;
    }
    /* 100%{
        transform:translate(0,100%)
    } */
}

@keyframes jump {
    0% {
        transform: translate(0, 0px)
    }
    33% {
        transform: translate(0, -3px)
    }
    66% {
        transform: translate(0, 3px)
    }
    100% {
        transform: translate(0, 0px)
    }
}

.mainMenu {
    height: 40%;
    width: 90%;
    bottom: 0;
    float: left;
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadran1 {
    margin-left: 5%;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 25%;
    /* background-color: blue; */
    border-bottom-right-radius: 70%;
}

#cadran2 {
    margin-left: 55%;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 25%;
    /* background-color: pink; */
    border-bottom-left-radius: 70%;
}

#cadran4 {
    margin-left: 5%;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 0%;
    /* background-color: pink; */
    border-top-right-radius: 70%;
}

#cadran3 {
    margin-left: 55%;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 0%;
    /* background-color: pink; */
    border-top-left-radius: 70%;
}

.st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8, .st9, .st10, .st11, .st12, .st13, #centerWheel, #redWheel, #_x38_circles {
    transform-origin: 50% 50%;
}

.st3 {
    opacity: 0.8;
}

.st4 {
    opacity: 0.8;
    fill: #515151;
    enable-background: new;
}

.st9 {
    fill: #3674CE;
}

.st11 {
    fill: #38CA92;
    stroke: #3674CE;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.rotateMandala {
    animation: roll 5s linear infinite;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}